.sharethis-inline-share-buttons {
    margin-top:1rem;
    .st-btn {
        display:inline-block!important;
        width: calc(16.6% - 0.5rem);
        margin:0 0.5rem 0.5rem 0!important;
        &:last-child {
            margin-right:0!important;
        }
        @include breakpoint(small only) {
            width:calc(50% - 0.5rem);
            &:nth-child(2n+0) {
              margin-right:0!important;
            }
        }
    }
}