.vetch-messages {
    min-height:48px;
    p {
        text-align: center;
        width:100%;
        margin:0;
        padding:0.7rem 0;
        @include breakpoint(small only) {
            padding: 0.7rem 1rem;
        }
    }
    &.success {
        background-color:$vetch-success;
        color:$white;
    }
    &.info {
        background-color:$vetch-info;
        color:$white;
        p.no-selection {
          display: none;
        }
    }
    &.error {
        background-color:$vetch-error;
        color:$white;
    }
    &.warning {
        background-color:$vetch-primary;
        color:$vetch-secondary;
        p.selection {
          display: none;
        }
        p.no-selection {
          display: block;
        }
    }
    &.live {
        background-color:$vetch-secondary;
        color:$white;
    }
    &.vetch-inpage-message {
        border-radius: $global-radius;
        margin-bottom:1.5rem;
        p {
            text-align: left;
        }
    }
    &.sticky-message {
        position:sticky;
        position: -webkit-sticky; /* Safari */
        top:80px;
        z-index:4;
    }
    a {
        color:$white;
    }
    &.inpage-message {
        border-radius: $global-radius;
        top:96px!important;
        width:100%;
        margin-right: 0.9375rem;
        margin-left: 0.9375rem;
        margin-bottom:1rem;
        @include breakpoint(small only) {
            margin-left:0.625rem;
            margin-right:0.625rem;
        }
    }
}
